<a href="https://colab.research.google.com/github/25amaroa/Python-Basics/blob/main/PythonNotes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting started with Python

In [ ]:
import sys #check version of python
print (sys.version)

3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

In [ ]:
print("hello world")

hello world

Python uses new lines to complete commands

Python relies on indentation and whitespace rather than curly braces for loops and scopes

In [ ]:
if 10 > 8:
  print("10 is greater than 15")

10 is greater than 15

Variables are created once you assign a value to it

In [ ]:
x = 10
y = "goodbye world"

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

Casting: If you want to specify the data type of a variable, this can be done with casting.

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

print(x)
print(y)
print(z)

print(type(x)) #type function gives the variable type
print(type(y))

3
3
3.0
<class 'str'>
<class 'int'>

Python allows you to assign multiple values to multiples variables to one line

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

Unpack a collection

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
# Global Variables are created outside of a function
# Can be used by anyone inside and outside the variable

x = "hello"

def myfunc():
  print(x + " world")

myfunc()

hello world

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
# If you use the global keyword, the variable belongs to the global sc
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# Data Types

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

None Type:	NoneType

## Numeric Type

In [ ]:
# three numeric: int, float, and complex

x = 1    # int: whole number without decimals
y = 2.8  # float: number containing one or more decimals
z = 1j   # complex: written with j as the imaginary part

print(type(x))
print(type(y))
print(type(z))

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>
1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
# built-in module that can be used to make random numbers
import random
print(random.randrange(10,100))

68

## Text Type

### Getting started: str

In [ ]:
# Strings in Python are surrounded by single or double quotation marks

print("hello")
print('hello')

# You can use quotes inside a string, as long as they don't match the surrounding string

print('"See you later alligator," said Dracula')

hello
hello
"See you later alligator," said Dracula

In [ ]:
# you can assign a multiline string to a variable by using three quotes

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Strings in python are arrays of bytes representing Unicode characters.

Python does not have a character data type, a single character is a string with a length of 1.

In [ ]:
# You can use square brackets to access the elements of the string

a = "Hello World" # First character has the position of 0

print(a[1])

e

In [ ]:
# You can loop through a string since it is just an array.
# You can put the characters in a for loop

for x in "dracula":
  print(x)

d
r
a
c
u
l
a

In [ ]:
# to get the string length, use the len() function

a = "hello world"
print(len(a))

11

In [ ]:
# to check if the phrase or character is present in a string, use the keyword "in"

x = "Say hello to the world"
print("hello" in x)

True

In [ ]:
# to check is the phrase or character is not present, use the keyword "not in"

x = "Say hello to the world"
print("hello" not in x)

False

### Slicing Strings

In [ ]:
# you can return a range of characters using the slice syntax

x = "Hello World"

print(x[2:5]) # position 5 will not be included

llo

In [ ]:
# leaving out the start index will make the range start from the first character
# also works vice versa

x = "Hello World"

print(x[:5])
print(x[5:])

Hello
 World